*{
    margin-left: 0;
    /* margin-right: 0; */
}
@font-face {
    font-family: 'Black Mango';
    src: url('fontes/black-mango-regular.ttf') format('truetype');
  } 
  @font-face {
    font-family: 'Telegraf bold';
    src: url('fontes/Telegraf\ UltraBold\ 800.otf') format('truetype');
  } 
  @font-face {
    font-family: 'Telegraf light';
    src: url('fontes/Telegraf\ UltraLight\ 200.otf') format('truetype');
  } 
  @font-face {
    font-family: 'Telegraf regular';
    src: url('fontes/TelegrafRegular_272984568a25d8528fe2de8b20b29011.otf') format('truetype');
  } 

  @font-face {
    font-family: 'Dream avenue';
    src: url('fontes/FontsFree-Net-Dream-Avenue.ttf') format('truetype');
  }

body{
    background-color:#1c2736 ;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/portfólio-backgrounds.png);
    background-size: 100%;background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    font-family: 'Telegraf regular', serif;
}

#navbar{
    height: 100%;
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.308);
    margin: 0;
    border-radius: 30px;
    width: 500px;
    margin-bottom: 50px;
}

.menu-texto{
    padding: 5px;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.img-perfil{
    height: 300px;
    border-radius: 20px;
}

.perfil-container{
    margin-left: 80px;
    word-break: break-word;
    padding-bottom: 100px;
    padding-left: 10px;
    background-color: #f29057;
    padding-top: 20px;
    max-width: 300px;
    padding-right: 15px;
    border-radius: 20px;
    height: fit-content;
    box-shadow:  20px 20px #f2ad94;
}

.container{
    display: flex;
    margin-bottom: 50px;
}

.side-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 40px;
    padding-bottom: 15px;
    height: min-content;
    border-radius: 30px;
    background-color: #f2905798;
    margin-left: 70px;
    padding-top: 20px;
    border-top-right-radius: 20px;
    width: 70vw;
    text-align: left;
}

.email-container{
    display: flex;
    padding-top: 10px;
    align-items: center;
    padding-right: 10px;
}

.img-email{
    height:35px;
    margin-right: 5px;
}
.github-container{
    display: flex;
    padding-top: 10px;
    align-items: center;
    padding-right: 10px;
}

.img-github{
    height:35px;
    margin-right: 5px;
}

.container-navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-text{
    color: #ffffff;
    padding-left: 10px;
}

#carrossel{
    position: relative;
    width: 900px;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
}

#carrossel-container{
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrossel-slide{
    min-width: 100%; /* largura exata do carrossel */
    max-width: 100%;
}

.slide1-titulo{
    font-size: 50px;
    padding-bottom: 10px;
    color: #ffffff;
    font-family: 'Dream avenue', serif;
    letter-spacing: 1;
}
.slide2-titulo{
    padding-bottom: 10px;
    color: #ffffff;
}
.slide3-titulo{
    padding-bottom: 10px;
    color: #ffffff;
    font-size: 30px;
}
.slide4-titulo{
    padding-bottom: 10px;
    color: #f27144;
    font-size: 50px;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#carrossel-btn{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    background-color: transparent;
    margin-left: 15px;
}
#carrossel-btn-voltar{
    height: 40px;
    width: 40px;
    border: 1px solid white;
    color: white;
    border-radius: 50px;
    background-color: transparent;
    margin-right: 15px;
}
.sobre-mim{
    color: #ffffff;
   font-size: 25px; 
}

.carrossel-slide1{
    margin-top: 80px;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sobre{
    font-size: 25px;
    color: #ffffff;
}

.menu-texto-inicio{
    padding: 5px;
    color: #f27144;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.slide3-container{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.slide3-portfolio-container{
    display: flex;
    gap: 40px;
}

.link-slide3{
    text-decoration: none;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.322);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    max-width: fit-content;
    /* max-height: fit-content; */
}

.curriculo-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slide4-container{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.link-slide4{
    text-decoration: none;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.322);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    max-width: fit-content;
    max-height: fit-content;
}