*{
    margin-left: 0;
    /* margin-right: 0; */
}
body{
    background-color:#1c2736 ;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/portfólio-backgrounds.png);
    background-size: 100%;
}

#navbar{
    height: 100%;
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    background-color:#1c273667;
    margin: 0;
}

.menu-texto{
    padding: 5px;
    color: #c0c8ca;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.img-perfil{
    height: 300px;
    border-radius: 20px;
}

.perfil-container{
    margin-left: 50px;
    word-break: break-word;
    padding-bottom: 100px;
    padding-left: 10px;
    background-color: #7d81814d;
    padding-top: 20px;
    max-width: 300px;
    padding-right: 15px;
    border-radius: 20px;
    height: fit-content;
    box-shadow: 15px 20px 10px rgba(0, 0, 0, 0.308);

}

.container{
    display: flex;
}

.side-container{
    width: 100%;
    padding-top: 50px;
    padding-left: 50px;
    border-top-right-radius: 20px;
}

.email-container{
    display: flex;
    padding-top: 10px;
    align-items: center;
    padding-right: 10px;
}

.img-email{
    height:35px;
    margin-right: 5px;
}
.github-container{
    display: flex;
    padding-top: 10px;
    align-items: center;
    padding-right: 10px;
}

.img-github{
    height:35px;
    margin-right: 5px;
}